# Stock ELEGOO files — kept on disk but not tracked by git
ELEGOO Smart Robot Car Kit V4.0 2023.02.01/01 ReadMeFirst/
ELEGOO Smart Robot Car Kit V4.0 2023.02.01/02 Manual & Main Code & APP/01 User Manual/
ELEGOO Smart Robot Car Kit V4.0 2023.02.01/02 Manual & Main Code & APP/02 Main Program   (Arduino UNO)/DRV8835/
ELEGOO Smart Robot Car Kit V4.0 2023.02.01/02 Manual & Main Code & APP/02 Main Program   (Arduino UNO)/README.md
ELEGOO Smart Robot Car Kit V4.0 2023.02.01/02 Manual & Main Code & APP/02 Main Program   (Arduino UNO)/TB6612 & MPU6050/
ELEGOO Smart Robot Car Kit V4.0 2023.02.01/02 Manual & Main Code & APP/03 APP/
ELEGOO Smart Robot Car Kit V4.0 2023.02.01/02 Manual & Main Code & APP/04 Code of Carmer (ESP32)/
ELEGOO Smart Robot Car Kit V4.0 2023.02.01/02 Manual & Main Code & APP/05 3D Model/
ELEGOO Smart Robot Car Kit V4.0 2023.02.01/03 Tutorial & Code/
ELEGOO Smart Robot Car Kit V4.0 2023.02.01/04 Related chip information/
